<a href="https://colab.research.google.com/github/emma654/MIS2800/blob/main/HW2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('HW3_AFC_North_APPG.db')

In [3]:
conn.execute('''
CREATE TABLE HW3_AFC_North_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  coach TEXT,
  wins INTEGER,
  losses INTEGER,
  ties INTEGER)
  STRICT;
''')

In [4]:
conn.execute('''
INSERT INTO HW3_AFC_North_APPG (team_name, coach, wins, losses, ties)
VALUES ('Steelers', 'Mike Tomlin', 10, 7, 0),
('Ravens', 'John Harbaugh', 8, 9, 0),
('Bengals', 'Zach Taylor', 6, 11, 0),
('Browns', 'Kevin Stefanski', 5, 12, 0);
''')

In [9]:
query = "SELECT * FROM HW3_AFC_North_APPG WHERE wins > 7"
results = conn.execute(query)
for row in results:
  print(row)

('Steelers', 'Mike Tomlin', 10, 7, 0)
('Ravens', 'John Harbaugh', 8, 9, 0)

In [10]:
query = "SELECT team_name, wins FROM HW3_AFC_North_APPG ORDER BY wins DESC"
for row in conn.execute(query):
  print(row)

('Steelers', 10)
('Ravens', 8)
('Bengals', 6)
('Browns', 5)